
  <%= form_for(resource, as: resource_name, url: create_trainer_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mx-auto">
      <div class="session-wrapper fadeInDown">
        <div id="session-formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
          <%= image_tag ('/FitNext-logo.png') %>
          <h2>会員登録</h2>
          </div>
          <!-- Form -->
          <form>
            <div>
              <%= f.text_field :name, autofocus: true, placeholder: '山田 太郎',class:'fadeIn second session-input', id: "input"  %>
            </div>
            <div>
              <%= f.date_field :birthday, value: Time.now.strftime("%Y-%m-%d"), autofocus: true, class:'fadeIn second session-input', id: "input" %>
            </div>
            <div>
              <%= f.label :男 %>
              <%= f.radio_button :sex, :男 ,class:'fadeIn second session-input', id: "input"%>
              <%= f.label :女 %>
              <%= f.radio_button :sex, :女,class:'fadeIn second session-input', id: "input" %>
              <%= f.label :その他 %>
              <%= f.radio_button :sex, :その他,class:'fadeIn second session-input', id: "input" %>
            </div>
            <div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス',class:'fadeIn second session-input', id: "input" %>
            </div>
            <div>
              <%= f.telephone_field :tel, autofocus: true, autocomplete: "tel", placeholder: '電話番号',class:'fadeIn second session-input', id: "input" %>
            </div>
            <div>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード',class:'fadeIn third session-input'%>
            </div>
            <div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワード(確認用)',class:'fadeIn third session-input' %>
            </div>
            <div class="fadeIn fourth">
            <%= f.submit "会員登録", class:'session-button' %>
            </div>
          </form>
          <div id="session-formFooter", class="session-link">
            <%= render "devise/shared/links" %>
          </div>
      <% end %>
        </div>
      </div>
    </div>
