  <body>
    <div>
      <span>氏名: <%= @user.name %></span>
    </div>

    <div>
      <span>生年月日: <%= @user.birthday %></span>
    </div>

    <div>
      <span>性別: <%= @user.sex %></span>
    </div>

    <div>
      <span>メールアドレス: <%= @user.email %></span>
    </div>

    <div>
      <span>電話番号: <%= @user.tel %></span>
    </div>

    <div class="picture_field">
      <span>顔写真: </span>
      <% if @user.picture_url %>
      <%= image_tag @user.picture.url %>
      <% end %>
    </div>

    <div>
      <span>住所: <%= @user.address %></span>
    </div>

    <div>
      <span>自己紹介: <%= @user.infomation %></span>
    </div>

    <div>
      <span>Skype名: <%= @user.skype %></span>
    </div>

<%# <% if current_user = user_id %> #TODO:usd_idをもつユーザーのみ表示できる %>
  <%# <% @trainer do |item| %> %>
    <div>
      <span>資格：<%= item.license %></span>
    </div>

    <div>
      <span>経験年数：<%= item.experience %></span>
    </div>

    <div>
      <span>所属先：<%= item.belongs %></span>
    </div>
  <% end %>

  <% if current_user.try(:admin?) && ! (current_user.id == @user) %>
    <h1>管理者ページ<h3>
    <%= link_to '管理者ページ', "/admin" %>
  <% end %>
</body>