<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<%= form_with(model: @user,url: user_path(users_id: @user),local: true) do |f| %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class ="row">
        <section class="user-card col-md-12">
          <%# <img class="user-card-img" src="http://webcreatorbox.com/sample/images/bear.jpg" alt=""> %>
          <div class="user-card-img">
            <% if current_user.persisted? && current_user.picture? %>
              <%= image_tag current_user.picture.to_s %>
              <small><%= f.check_box :remove_picture %> 画像を削除</small>
            <% end %>
            <%= f.file_field :picture %>
          </div>
            <div class="user-card-content">
              <h1 class="user-card-title"><small><%= f.label :氏名 %></small><%= f.text_field :name, autofocus: true, autocomplete: "name" %></h1>
              <h3 class="text-center">基本情報</h3>
              <p class="user-card-text">
                <span>メールアドレス:<%= f.email_field :email, autofocus: true, autocomplete: "email",class:"blank-content" %></span></br>
                <span>電話番号(ハイフン有り):<%= f.telephone_field :tel, autofocus: true, autocomplete: "tel",class:"blank-content"  %></span></br>
                <span>住所:<%= f.text_field :address, autofocus: true, autocomplete: "address",class:"blank-content"  %></span></br>
                <span>Skype名:<%= f.text_field :skype, autofocus: true, autocomplete: "skype",class:"blank-content"  %></span></br>
              <%= f.fields_for :trainer do |f| %>
                <span>資格：<%= f.text_field :license, autofocus: true, autocomplete: "license",class:"blank-content"  %></span></br>
                <span>経験年数：<%= f.text_field :experience, autofocus: true, autocomplete: "experience",class:"blank-content"  %>年</span></br>
                <span>所属先：<%= f.text_field :belongs, autofocus: true, autocomplete: "belongs",class:"blank-content"  %></span></br>
              <% end %>
              </p>
              <h3 class="text-center">自己紹介</h3>
              <div class="user-card-content2">
                <span><%= f.text_area :infomation, autofocus: true, autocomplete: "infomation" %></br></span>
              </div>
            </div>
              <div class="user-card-link">
                <div class="actions">
                  <%= f.submit "更新する", class:"btn-gradient-radius-user user-edit-submit" %>
                  <%= link_to 'パスワードを編集する', edit_user_registration_path , class:"btn-gradient-radius-user"%>
                  <%= button_to "アカウントを削除", data: { confirm: "本当に削除しますか?" }, method: :delete %>
                </div>
              </div>
            </div>
        </section>
      </div>
    </div>
  </div>
</div>
<% end %>