<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class ="row">
        <section class="user-card col-md-12">
          <%# <img class="user-card-img" src="http://webcreatorbox.com/sample/images/bear.jpg" alt=""> %>
          <div class="user-card-img">
            <% if @user.picture %>
              <%= image_tag @user.picture.url %>
            <% else %>
              <%= image_tag 'no_avatar.png' %>
            <% end %>
          </div>
            <div class="user-card-content">
              <h1 class="user-card-title"><%= @user.name %></h1>
              <h3 class="text-center">基本情報</h3>
              <p class="user-card-text">
                <span>性別: <%= @user.sex %></span></br>
                <span>生年月日: <%= @user.birthday %></span></br>
                <span>Skype名: <%= @user.skype %></span></br>
                  <% if @user.trainer.blank? %>
                    <span>メールアドレス: <%= @user.email %></span></br>
                    <span>電話番号: <%= @user.tel %></span></br>
                    <span>住所: <%= @user.address %></span></br>
                  <% end %>
                  <% unless @user.trainer.blank? %>
                    <span>資格：<%= @user.trainer.license %></span></br>
                    <span>経験年数：<%= @user.trainer.experience %>年</span></br>
                    <span>所属先：<%= @user.trainer.belongs %></span></br>
                    <%# <span>得意とする指導分野：<%= @user.tag_list %></span></br>
                    <span>得意とする指導分野</span></br>
                    <% @user.tag_list.each do |tag| %>
                    <span class="badge badge-success trainer-tag"><%= tag %></span>
                    <% end %>
                  <% end %>
              </p>
              <h3 class="text-center">自己紹介</h3>
              <div class="user-card-content2">
                <span><%= @user.infomation %></span>
              </div>
            </div>
              <div class="user-card-link">
                <% if @user.trainer.present? && @user != current_user %>
                  <%= link_to "指導を受ける","https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1567423278&rver=7.1.6819.0&wp=MBI_SSL&wreply=https%3A%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D572381%26redirect_uri%3Dhttps%253A%252F%252Fweb.skype.com%252FAuth%252FPostHandler%26state%3D2383ec72-933d-42d4-b176-dfc30bc9400b%26site_name%3Dlw.skype.com&lc=1033&id=293290&mkt=ja-JP&psi=skype&lw=1&cobrandid=2befc4b5-19e3-46e8-8347-77317a16a5a5&client_flight=ReservedFlight33%2CReservedFlight67", target:"_blank", class:"btn-gradient-radius-user" %>
                  <%= link_to '評価する', new_user_trainer_evaluation_path(user_id: @user, trainer_id: @user.trainer),class:"btn-gradient-radius-user" %></br>
                  <%= form_for @room do |f| %>
                    <%= f.hidden_field :user_id, value: @user.id %>
                    <%= f.submit "相談する" %>
                  <% end %>
                <% end %>
                <%if current_user.id == @user.id %>
                  <%= link_to 'プロフィールを編集する', edit_user_path(@user.id), class:"btn-gradient-radius-user" %>
                <% end %>
                <% if @user.try(:admin?) && ! (@user.id == @user) %>
                  <%= link_to '管理者ページ', "/admin", class:"btn-gradient-radius-user" %>
                <% end %>
                <%# FIXME:すでにメッセージがある場合、ユーザーがトレーナー詳細ページに訪れても”メッセージを確認する出ないようにする" %> 
                <%# MEMO:@userから＠current_userへ表示消える %>
                <% unless @current_user.trainer.blank? %>
                  <%= form_for @room do |f| %>
                    <%= f.hidden_field :user_id, value: @user.id %>
                    <%= f.submit "メッセージを確認する" %>
                  <% end %>
                <% end %>
              </div>
            </div>
        </section>
      </div>
    </div>
  </div>
</div>



<div class="trainer-evaluations-container">
  <div class="row">
    <div class="col-md-12">
      <% unless @user.trainer.blank? %>
      <h2 class="page-header">評価一覧</h2>
      <% end %>
        <section class="comment-list">
          <!-- First Comment -->
          <% unless @user.trainer.blank? %>
          <% @trainer.trainer_evaluations.each do |trainer_evaluation| %>
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <% if trainer_evaluation.user.picture_url %>
                <%= image_tag trainer_evaluation.user.picture.url, class:"img-responsive-user"%>
                <% end %>
                <%# FIXME:画像大きさ統一 %>
                <figcaption class="text-center"><%= trainer_evaluation.user.name %></figcaption>
              </figure>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i><%= trainer_evaluation.user.name %></div>
                    <%# FIXME:投稿者の名前を表示 %>
                    <%# <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time> %>
                  </header>
                  <div class="comment-post">
                    <p>
                      <%# 「user_id」：<%= trainer_evaluation.user.name %>
                      「楽しさ」：<%= trainer_evaluation.fun_rate %><br />
                      「わかりやすさ」：<%= trainer_evaluation.understandable_rate %><br />
                      「丁寧さ」：<%= trainer_evaluation.politeness_rate %><br />
                      「優しさ」：<%= trainer_evaluation.kindness_rate %><br />
                      「熱心さ」：<%= trainer_evaluation.passion_rate %><br />
                      「自由記述」：<%= trainer_evaluation.content %><br />
                    </p>
                  </div>
                  <%# <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p> %>
                </div>
              </div>
            </div>
          </article>
          <% end %>
          <% end %>
        </section>
    </div>
  </div>
</div>
