

<h1><%= @user.name %>のページ</h1>

<%if current_user.id == @user.id %>
  <%= link_to 'プロフィールを編集する', edit_user_path(@user.id) %>
<% end %>

  <body>
    <div>
      <span>氏名: <%= @user.name %></span>
    </div>

    <div>
      <span>生年月日: <%= @user.birthday %></span>
    </div>

    <div>
      <span>性別: <%= @user.sex %></span>
    </div>

  <% if @user.trainer.blank? %>
    <div>
      <span>メールアドレス: <%= @user.email %></span>
    </div>

    <div>
      <span>電話番号: <%= @user.tel %></span>
    </div>

    <div>
      <span>住所: <%= @user.address %></span>
    </div>
  <% end %>

    <div class="picture_field">
      <span>顔写真: </span>
      <% if @user.picture_url %>
      <%= image_tag @user.picture.url %>
      <% end %>
    </div>

    <div>
      <span>自己紹介: <%= @user.infomation %></span>
    </div>

    <div></div>
      <span>Skype名: <%= @user.skype %></span>
    </div>

  <% unless @user.trainer.blank? %>
    <div>
      <span>資格：<%= @user.trainer.license %></span>
    </div>

    <div>
      <span>経験年数：<%= @user.trainer.experience %>年</span>
    </div>

    <div>
      <span>所属先：<%= @user.trainer.belongs %></span>
    </div>

#FIXME: 評価表示
    <h3>評価</h3>
    <div>
      <%# <span>「楽しさ」：<%= @user.trainer.fun_rate %></span> %>
    </div>
    <div>
      <%# <span>「わかりやすさ」：<%= @user.trainer.understandable_rate %></span> %>
    </div>
    <div>
      <%# <span>「ていねいさ」：<%= @user.trainer.politeness_rate %></span> %>
    </div>
    <div>
      <%# <span>「親切さ」：<%= @user.trainer.kindness_rate %></span> %>
    </div>
    <div>
      <%# <span>「熱心さ」：<%= @user.trainer.passion_rate %></span> %>
    </div>
  <% end %>

  <% unless @user.trainer.blank? %>
    <li><%= link_to '評価する', new_user_trainer_evaluation_path(user_id: @user, trainer_id: @user.trainer) %></li>
  <% end %>

  <% if @user.try(:admin?) && ! (@user.id == @user) %>
    <h1>管理者ページ<h3>
    <%= link_to '管理者ページ', "/admin" %>
  <% end %>

