<div class ="trainer-evaluations-table col-md-12">
  <table class="table">
      <tr>
        <th>評価項目</th>
        <th>５段階評価</th>
      </tr>
      <%= form_for(@trainer_evaluation) do |f| %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :trainer_id %>

          <tr id='star_rank1'>
            <td>
              <%= f.label :fun_rate, '楽しさ'%>
              <%= f.hidden_field :fun_rate, id: :trainer_evaluation_fun_rate %>
            </td>
          </tr>

          <tr id='star_rank2'>
            <td>
              <%= f.label :understandable_rate, 'わかりやすさ'%>
              <%= f.hidden_field :understandable_rate, id: :trainer_evaluations_understandable_rate %>
            </td>
          </tr>


          <tr id='star_rank3'>
            <td>
              <%= f.label :politeness_rate, 'ていねいさ'%>
              <%= f.hidden_field :politeness_rate, id: :trainer_evaluations_politeness_rate %>
            </td>
          </tr>

          <tr id='star_rank4'>
            <td>
            <%= f.label :kindness_rate,'優しさ'%>
            <%= f.hidden_field :kindness_rate, id: :trainer_evaluations_kindness_rate %>
            </td>
          </tr>

        <tr id='star_rank5'>
            <td>
            <%= f.label :passion_rate,'熱心さ'%>
            <%= f.hidden_field :passion_rate, id: :trainer_evaluations_passion_rate %>
            </td>
          </tr>
  </table>
        <div>
          <%= f.label :content, '評価（自由記述）'%>
          <%= f.text_area :content, class: "form-control", rows: "5",
            placeholder:'皆様の評価が、FitNextのサービス向上に必要です。トレーナーさんから指導された内容やその感想を詳しくお書きください。' %>
        </div>

        <div class="trainer-evaluations-button">
          <%= f.submit '投稿する', class:"btn btn-success" %>
        </div>
      </div>
<% end %>
</div>
