<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<title>FitNext Fitness×NextStage</title>
		<!-- meta -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- google fonts -->
		<%# <link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/> %>
		<!-- css -->
		<%# <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/style.css" media="screen"/> %>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.js"></script>
		<![endif]-->
		<!--[if IE 8]>
	    	<script src="assets/js/selectivizr.js"></script>
	    <![endif]-->
	</head>
	<body>
		<header class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-5 col-sm-4 header-logo">
						<br>
						<a href="index.html">
							<h1 class="logo">FitNext</h1>
              <a>Fitness×NextStage</a>
						</a>
					</div>
					<div class="col-md-8 col-md-offset-1 col-xs-7">
						<nav class="navbar navbar-default">
						  	<div class="container-fluid nav-bar">
						    <!-- Brand and toggle get grouped for better mobile display -->
							    <div class="navbar-header">
							      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								        <span class="sr-only">Toggle navigation</span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
							      	</button>
							    </div>
						    	<!-- Collect the nav links, forms, and other content for toggling -->
							    <div class="collapse navbar-collapse navbar-def" id="bs-example-navbar-collapse-1">
							      	<ul class="nav navbar-nav navbar-right">
                        <% if user_signed_in? %>
                          <%= link_to 'トップページ', homes_show_path %>
                          <%= link_to 'トレーナー一覧', users_path %>
                          <a href="/users/<%= current_user.id %>">マイページ</a>
                          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                        <% else %>
                          <%= link_to '会員登録', new_user_registration_path %>
                          <%= link_to 'トレーナー登録',  new_trainer_path %>
                          <%= link_to 'ログイン', sign_in_path %>
                        <% end %>
							      	</ul>
                          <p class="notice"><%= notice %></p>
                          <p class="alert"><%= alert %></p>
							    </div><!-- /navbar-collapse -->
						  	</div><!-- / .container-fluid -->
						</nav>
					</div>
				</div>
			</div>
		</header>
		<div id="wrapper">
			<div id="header" class="content-block">
				<!-- <section class="top clearfix">
					<div class="pull-left">
						<h1><a class="logo" href="index.html">Nevada <span class="logo-head">Plus</span></a></h1>
					</div>
					<! <div class="pull-right">
						<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
					</div>
				</section>-->
				<section class="center">
					<div class="slogan">
						もう"老害"だなんて言わせない
					</div>
					<div class="secondary-slogan">
						私たちは、皆様の健康寿命を伸ばします
					</div>
				</section>
			</div><!-- header -->
			<!-- About us -->
	        <div id="about" class="about-us">
	            <div class="container about-sec">
	                <header class="block-heading cleafix">
							<div class="title-page">
								<p class="main-header">経営理念</p>
							    <p class="sub-header">私たちについて</p>
							</div>
						</header>
	                <div class="divide50"></div>
	                <div class="row">
	                    <div class="col-md-4 text-center">
	                        <div class="aboutus-item">
	                            <i class="aboutus-icon fa fa-plane"></i>
	                            <h4 class="aboutus-title">MISSION</h4>
	                            <p class="aboutus-desc">高齢者という概念をなくす</p>
	                        </div>
	                    </div>
	                    <div class="col-md-4 text-center">
	                        <div class="aboutus-item">
	                            <i class="aboutus-icon fa fa-usd"></i>
	                            <h4 class="aboutus-title">VISION</h4>
	                            <p class="aboutus-desc">高齢者と親族が、生涯健康で笑顔溢れる世界を創る</p>
	                        </div>
	                    </div>
	                    <div class="col-md-4 text-center">
	                        <div class="aboutus-item">
	                            <i class="aboutus-icon fa fa-cutlery"></i>
	                            <h4 class="aboutus-title">VALUE</h4>
	                            <p class="aboutus-desc">1.お客様にとっての第二の家族になる</p>
                              <p class="aboutus-desc">2.高齢者と親族の10年先を想像する</p>
                              <p class="aboutus-desc">3."心""体"に最適なサービスを提供する</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!-- /About us -->
			<div class="content-block" id="portfolio">
				<div class="container portfolio-sec">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">画面上部へ</a>
						<div class="title-page">
							<p class="main-header">レッスン風景</p>
						    <p class="sub-header">オフライン・オンライン指導中の一コマ</p>
					    </div>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/sakura.sample1.png)">
									<%# <span class="btn btn-o-white"></span> %>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/sakura.sample2.png)">
									<%# <span class="btn btn-o-white">Lorem Rocks</%#> %>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/sakura.sample3.png)">
									<%# <span class="btn btn-o-white">Lorem Rocks</%#> %>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/demo.png)">
									<%# <span class="btn btn-o-white">sample</span> %>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/masato.ace.jpg)">
									<%# <span class="btn btn-o-white">Lorem Rocks</%#> %>
								</a>
							</div>
							<div class="col-sm-4">
								<a href="#" class="recent-work" style="background-image:url(assets/images/sakura.sample4.png)">
									<%# <span class="btn btn-o-white">Lorem Rocks</%#> %>
								</a>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #portfolio -->
			<div class="content-block parallax" id="services">
				<div class="container services-sec">
					<div class="title-page">
						<p class="main-header">サービス概要</p>
					    <p class="sub-header">FitNextが提供するサービス</p>
					</div>
					<section class="block-body">
						<div class="row">
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-send-o"></i>
									</div>
									<h2 class="service-head">一人一人に最適なメニュー</h2>
									<p>カウンセリングを通して、お客様の要望や症状に合ったメニューを提供します</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-heart-o"></i>
									</div>
									<h2 class="service-head">運動の習慣化</h2>
									<p>「楽しく・短く・支え合う」をもっとうにしたサービスにより、運動の習慣化を促します</p> #FIXME:文言の修正
								</div>
							</div>
							<div class="col-md-4">
								<div class="service">
									<div class="bar">
										<i class="fa fa-camera-retro"></i>
									</div>
									<h2 class="service-head">健康寿命を伸ばします</h2>
									<p>有資格のフィットネストレーナーによる１対１の指導により、お客様の心身の健康を向上させ、そのご家族の心的負担を取り除きます。</p> #FIXME: 文言の修正 (お客様？高齢者？)
								</div>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #services -->
			<div class="content-block" id="blog">
				<div class="container blog-sec">
					<header class="block-heading cleafix">
						<a href="#" class="btn btn-o btn-lg pull-right">画面上部へ</a>
						<div class="title-page">
							<p class="main-header">スタッフ紹介</p>
						  <p class="sub-header">FitNext創設メンバー</p>
						</div>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-sm-4 blog-post">
								<img src="assets/images/masato.png">
								<a href="#"><h2>高齢者と親族を笑顔で包みたい！</h2></a>
								<div class="date">川北 雅冬</div>
								<p>昨年から、90歳の祖母とフィットネスを開始。曲がりきった背骨が伸び、体も自由に動かせるようになりました。その時に祖母が見せた”嬉し涙”をみて、一念発起。
「健康不安を抱える高齢者が手軽に運動できる環境を整えたい！高齢者の"健康不安"を取り除き、高齢者とその家族・親族が幸せに生活できる環境を提供したい。」との思いからFitNextを立ち上げました。</p>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/sakura.png">
								<a href="#"><h2>"安く、楽しく、正しく、長く"をモットーに！</h2></a>
								<div class="date">長谷川 さくら</div>
								<p>普通のスポーツジムと違いマンツーマンで行うパーソナルトレーニングは費用も高く、"続けたいんだけど経済的に厳しい"というお客様もたくさんいらっしゃいました。そういった現状を目の当たりにし、パーソナルトレーニングでなくても、お客様に正しいトレーニングを指導させてもらえる環境を作りたいと思っています。1人でも多くのお客様に、この合言葉を実感して頂けるよう全力を尽くします。</p>
							</div>
							<div class="col-sm-4 blog-post">
								<img src="assets/images/sakura.kai.png">
								<a href="#"><h2>幸せになるお手伝いを！</h2></a>
								<div class="date">長谷川 海</div>
								<p>健康である事の喜びは、普段は中々気づかないものです。また、自分のなりたい身体になれば自信が持て、人生も豊かになります。適度に、頑張りすぎずに生活の一部として身体を動かすことが組み込める様に、トレーニングの楽しさが伝えられる存在になりたいです。科学的根拠に基づきトレーニングを指導させていただき、皆様の大切な時間を最大限効率化させるお手伝いをさせていただきます。</p>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #blog -->
			<div class="content-block parallax" id="parallax">
				<div class="container">
					<h3 class="call-action pull-left">FitNextを体験してみませんか？</h3>
					<a href="#" class="pull-right btn btn-o-white btn-lg">会員登録はこちらから</a> #FIXME:リンク
				</div>
			</div><!-- #parallax -->
			<div class="content-block" id="testimonials">
				<div class="container testimonial-sec">
					<header class="block-heading cleafix">
						<div class="title-page  pull-left">
							<p class="main-header">お客様の声</p>
						    <p class="sub-header">多くの方から喜びの声が届いています</p>
						</div>
					</header>
					<section class="block-body">
						<div class="row">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							  	<!-- Indicators -->
							  	<ol class="carousel-indicators">
								    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
								    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
							  	</ol><!-- /.carousel-indicators -->
							  	<!-- Wrapper for slides -->
							  	<div class="carousel-inner" role="listbox">
								    <div class="item active">
								      	<div class="img-center">
								      		<img class="img-circle circular-img" src="assets/images/sobo1.jpg">
								      	</div>
								      	<h3>
								      		90代女性：トレーナーさんが優しくて安心しました。久しぶりに楽しく体を動かすことができました。
								      	</h3>
								    </div><!-- /.item -->
								    <div class="item">
								    	<div class="img-center">
								      		<img class="img-circle circular-img" src="assets/images/user1.jpg">
								      	</div>
								       	<h3>
								       		60代女性：運動面だけでなく、食事面についても丁寧に指導していただきました。一ヶ月でマイナス５kgダイエットに成功しました。
								       	</h3>
								    </div><!-- /.item -->
								    <div class="item">
								    	<div class="img-center">
								      		<img class="img-circle circular-img" src="assets/images/user2.jpg">
								        </div>
								       	<h3>
								       		70代女性：その日の体調に合わせてメニューを考えてくださるため、とても助かります。励ましの言葉が嬉しく、運動するのが習慣化してきました。
								       	</h3>
								    </div><!-- /.item -->
							  	</div><!-- /.carousel-inner -->
							</div><!-- /.carousel slide -->
						</div>
					</section><!-- /.block-body -->
				</div>
			</div><!-- /#testimonials -->
			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">お問い合わせ</h2>
								<p>FitNextについて知りたいことや疑問など、お気軽にお問い合わせください。</p>
								<p>#FIXME:文言の追加
								</p>
								<p>#FIXME:文言の追加</p>
							</div>
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">お問い合わせフォーム(現在閉鎖中）</h2>
								<form action="contact-form.php" id="contactForm" method="post" name="contactform" class="" role="form">
									<div class="form-group">
								    	<input type="text" class="form-control form-control-white" id="name" name="name" placeholder="氏名" required>
								  	</div>
								    <div class="form-group">
								    	<input type="email" class="form-control form-control-white" id="email" name="email" placeholder="メールアドレス" required>
								    </div>
								    <div class="form-group">
								    	<textarea class="form-control form-control-white" id="message" name="massage" placeholder="お問い合わせ内容" required></textarea>
								    </div>
								    <div id="contactFormResponse"></div>
								    <div class="form-group">
								    	<input id="cfsubmit" type="submit" class="text-center btn btn-o-white" value="Say Hello">
								  	</div>
								</form>
							</div>
							<div class="col-sm-4 blog-post">
								<h2 class="footer-block">会社詳細</h2>
								<ul>
									<li class="address-sub"><i class="fa fa-map-marker"></i>所在地</li>
										<p>
                    FIXME:所在地
										</p>
									<li class="address-sub"><i class="fa fa-phone"></i>電話番号</li>
										<p>
											000-0000-0000(sample)<br>
										</p>
									<li class="address-sub"><i class="fa fa-envelope-o"></i>Email Address</li>
										<p>
											<a href="mailto:info@themewagon.com">sample@.com</a><br>
											<a href="http://www.themewagon.com/">fitnext.com ＃FIXME:アドレスや電話番号どうするか</a>
										</p>
								</ul>
								<div class="social">
									<a href="https://twitter.com/home" target="_blank"><i class="fa fa-twitter"></i></a>
									<a href="https://ja-jp.facebook.com/login/" target="_blank" ><i class="fa fa-facebook"></i></a>
									<a href="https://www.instagram.com/accounts/login/?hl=ja" target="_blank" ><i class="fa fa-instagram"></i></a>
									<a href="https://www.pinterest.jp/" target="_blank"><i class="fa fa-pinterest-p"></i></a>
									<a href="https://aboutme.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
									<a href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1566577494&rver=7.1.6819.0&wp=MBI_SSL&wreply=https%3A%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D572381%26redirect_uri%3Dhttps%253A%252F%252Fweb.skype.com%252FAuth%252FPostHandler%26state%3Df14b8b14-3c70-4e58-9d29-c90fbb66b79b%26site_name%3Dlw.skype.com&lc=1033&id=293290&mkt=ja-JP&psi=skype&lw=1&cobrandid=2befc4b5-19e3-46e8-8347-77317a16a5a5&client_flight=ReservedFlight33%2CReservedFlight67" target="_blank"><i class="fa fa-skype"></i></a>
								</div>
							</div>
						</div>
				</div>
			</div>
			<div class="content-block footer-bottom" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; Copyright FitNext 2019</div>
						<div class="col-xs-6 text-right">Theme by <a href="http://www.themewagon.com/" target="_blink">ThemeWagon</a></div>
					</div>
				</div>
			</div><!-- #footer -->
		</div><!--/#wrapper-->
		<script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/jquery.actual.min.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		<script src="assets/js/contact.js"></script>
		<script src="assets/js/script.js"></script>
		<script src="assets/js/smoothscroll.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($){
		  	$(window).scroll(function() {
		  		console.log("asdf");
				if ($(window).scrollTop() > 100 ){
		 		$('.top-header').addClass('shows');
		  		} else {
		   	 	$('.top-header').removeClass('shows');
		 		};
			});
		  });
		jQuery('.scroll').on('click', function(e){
				e.preventDefault()
		  jQuery('html, body').animate({
		      scrollTop : jQuery(this.hash).offset().top
		    }, 1500);
    });
		</script>
	</body>
</html>
