<!------ Include the above in your HEAD tag ---------->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="mx-auto">
  <div class="session-wrapper fadeInDown">
    <div id="session-formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
      <%= image_tag ('/FitNext-logo.png') %>
      </div>

      <!-- Login Form -->
      <form>
        <div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス',class:'fadeIn second session-input', id: "input" %>
        </div>
        <div>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード',class:'fadeIn third session-input'%>
        </div>
        <div class ="session-checkbox">
        <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :ログインを記憶する %>
        <% end %>
        </div>
        <div class="fadeIn fourth">
        <%= f.submit "ログイン", class:'session-button'%>
        </div>
      </form>

      <!-- Remind Passowrd -->
      <div id="session-formFooter", class="session-link">
        <%# <%= render "devise/shared/links" %>
      </div>
  <% end %>
    </div>
  </div>
</div>