<div class ="container col-lg-12 col-md-12 room-message">
  <% if @current_user.trainer.blank? %>
    <h4 class="text-center">ご相談・日程調整</h4>
    <h5 class="text-center">トレーナーさんとのやり取りを通じて、日時や指導に対する要望をお伝えください</h5>
  <% else %>
    <h4 class="text-center">ご相談・日程調整</h4>
    <h5 class="text-center">希望日時や指導に対する要望を聞き、トレーニング当日までの流れをご説明ください</h5>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class ="row">
        <section class="message-card col-md-12">
          <div class="message-card-img">
            <% @entries.each do |e| %>
              <h5><strong><%= e.user.name%>さん</strong></h5>
                <%= image_tag e.user.picture&.url %>
            <% end %>
          </div>
          <hr class="message-card-img">
          <% if @messages.present? %>
            <% @messages.each do |m| %>
              <strong><%= m.content %></strong>
              <small>by <strong><%= m.user.name %>さん</strong></small>
                <%= image_tag m.user.picture&.url %>
              <hr>
            <% end %>
          <% else %>
            <h3 class="text-center">メッセージはまだありません</h3>
          <% end %>

          <%= form_for @message do |f| %>
            <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 , class:"form-control"%>
            <%= f.hidden_field :room_id, :value => @room.id %>
            <br>
            <%= f.submit "投稿する",class:"btn-gradient-radius-user-button" %>
          <% end %>
          <% if @current_user.trainer.blank? %>
            <li class="skype-link1">
              <%= link_to "指導を受ける(skypeログインページ）","https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1567423278&rver=7.1.6819.0&wp=MBI_SSL&wreply=https%3A%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D572381%26redirect_uri%3Dhttps%253A%252F%252Fweb.skype.com%252FAuth%252FPostHandler%26state%3D2383ec72-933d-42d4-b176-dfc30bc9400b%26site_name%3Dlw.skype.com&lc=1033&id=293290&mkt=ja-JP&psi=skype&lw=1&cobrandid=2befc4b5-19e3-46e8-8347-77317a16a5a5&client_flight=ReservedFlight33%2CReservedFlight67", target:"_blank", class:"btn-gradient-radius-user" %>
            </li>
          <% else %>
            <li class="skype-link1">
              <%= link_to "レッスンを始める","https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1567423278&rver=7.1.6819.0&wp=MBI_SSL&wreply=https%3A%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D572381%26redirect_uri%3Dhttps%253A%252F%252Fweb.skype.com%252FAuth%252FPostHandler%26state%3D2383ec72-933d-42d4-b176-dfc30bc9400b%26site_name%3Dlw.skype.com&lc=1033&id=293290&mkt=ja-JP&psi=skype&lw=1&cobrandid=2befc4b5-19e3-46e8-8347-77317a16a5a5&client_flight=ReservedFlight33%2CReservedFlight67", target:"_blank", class:"btn-gradient-radius-user" %>
            </li>
          <% end %>
          <%# <%= link_to 'トレーナー詳細ページ', user_path(user), class:"btn btn-primary" FIXME:詳細ページに推移 %>
          <li class="skype-link2">
          <%= link_to "トレーナー一覧に戻る", users_path, class:"btn-gradient-radius-user"  %>
          </li>
        </section>
      </div>
    </div>
  </div>
</div>
