<!DOCTYPE html>
<html class="noIE" lang="en-US">
  <head>
    <title>FitNext Fitness×NextStage</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet">
			<%# FIXME:上記リンク入れずに実装できる方法を模索 %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= notice %>
      <%= alert %>
  </head>
	<body>
		<header class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-5 col-sm-4 header-logo">
						<br>
							<h1 class="logo"><%= link_to 'FitNext', root_path %></h1>
							<%= link_to 'Fitness×NextStage', root_path, class:"logo-mini" %>
					</div>
					<div class="col-md-8 col-md-offset-1 col-xs-7">
						<nav class="navbar navbar-default">
								<div class="container-fluid nav-bar">
								<!-- Brand and toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<!-- Collect the nav links, forms, and other content for toggling -->
									<div class="collapse navbar-collapse navbar-def" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav navbar-right">
											<% if user_signed_in? %>
												<%= link_to 'サービスについて', homes_show_path, class:"btn-border-bottom" %>
												<%= link_to 'トレーナー一覧', users_path, class:"btn-border-bottom" %>
												<%= link_to 'マイページ', user_path(current_user), class:"btn-border-bottom" %>
												<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"btn-border-bottom" %>
											<% else %>
												<%= link_to 'サービスについて', homes_show_path, class:"btn-border-bottom" %>
												<%= link_to '会員登録', new_user_registration_path, class:"btn-border-bottom" %>
												<%= link_to 'トレーナー登録',  new_trainer_path, class:"btn-border-bottom" %>
												<%= link_to 'ログイン', new_user_session_path, class:"btn-border-bottom" %>
												<%= link_to 'トレーナー一覧', users_path, class:"btn-border-bottom" %>
											<% end %>
										</ul>
									<div>
									</ul><!-- /navbar-collapse -->
								</div><!-- / .container-fluid -->
						</nav>
					</div>
				</div>
			</div>
		</header>
    <%= yield %>
  </body>
</html>
